@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "icons-pack-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/icons-pack-Regular") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,800|Anton:400");

* {
  box-sizing: border-box;
}

.indi-desktop-1440 {
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2492px;
  min-width: 1440px;
  width: 100%;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.sidebar-menu-1 {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 109px;
  z-index: 3;
}

.menu-ico-desktop {
  display: flex;
  height: 41px;
  margin-top: 27px;
  width: 41px;
}

.search-icon:hover {
  color: #ff4e4e;
}

.search-icon {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 11px;
  margin-top: 12px;
  text-align: center;
  transition: all 0.2s ease;
  width: 18px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.indi-logo-1 {
  height: 31.49px;
  margin-left: -1.5px;
  margin-top: 30px;
  width: 39.59px;
}

.menu-ico-desktop-1 {
  margin-top: 25.5px;
}

.indi-desktop-1440 .menu-ico-desktop-3 {
  display: flex;
  height: 41px;
  width: 41px;
}

.menu-ico-desktop-2 {
  margin-top: 26px;
}

.container-promotion-1 {
  background-color: var(--color-background-bold);
  display: flex;
  flex: 1;
  gap: 219px;
  height: 386px;
  justify-content: flex-end;
  max-height: 386px;
  z-index: 1;
}

.stay-conncted {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 46px;
  height: 220px;
  margin-left: 158px;
  margin-top: 83px;
  width: 562px;
}

.stay-connected-form {
  display: flex;
  gap: 16px;
  margin-left: -211px;
  width: 351px;
}

.email-input-1 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 36px;
  width: 252px;
}

.email {
  background-color: transparent;
  border: 0;
  height: 34px;
  letter-spacing: 0;
  line-height: 26px;
  padding: 0;
  width: 250px;
}

.email::placeholder {
  color: #ffffff99;
}

input:focus {
  outline: none;
}

.underline-1 {
  background-color: var(--color-foreground);
  height: 1px;
  width: 250px;
}

.btn-submit-1 {
  align-items: center;
  border: 0.77px solid;
  border-color: var(--color-foreground);
  border-radius: 32.45px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-top: 6px;
  transition: all 0.2s ease;
  width: 97px;
}

.btn-submit-1:hover {
  transform: scale(1.1);
}

.text {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: -1px;
  text-align: center;
  white-space: nowrap;
  width: 50px;
}

.stay-connected-text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 138px;
  width: 562px;
}

.paragraph-1 {
  height: 72px;
  letter-spacing: 0;
  line-height: 26px;
}

.title-3 {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-headline-mobile);
  font-weight: 800;
  height: 44px;
  letter-spacing: 0;
  line-height: 25.3px;
  width: 517px;
}

.gif-cinema video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gif-cinema {
  background-image: url(https://media.giphy.com/media/l6mBchxYZc7Sw/giphy.gif);
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 1px;
  width: 500px;
}

.gif-cinema img {
  object-fit: cover;
}

.group-7 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 1974px;
  margin-left: 109px;
  max-height: 1974px;
  z-index: 2;
}

.hero-container-1 {
  align-items: center;
  background-image: url(https://cdn.animaapp.com/projects/6202849b5e1915b58277544f/files/trailer-m-1-cut-1.webp);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 544px;
}

.film-info-1 {
  color: var(--color-secondary);
  font-family: var(--font-text);
  font-size: var(--font-size-l2);
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -1015px;
  margin-top: 5px;
  white-space: nowrap;
  width: 224px;
}

.main-title {
  color: var(--color-foreground);
  font-weight: 400;
  height: 117px;
  line-height: normal;
  margin-left: -917px;
  margin-top: 28px;
  width: 322px;
}

.film-about-1 {
  height: 78px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: -855px;
  margin-top: 20px;
  width: 386px;
}

.film-credits-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -961px;
  margin-top: 24px;
  width: 278px;
}

.btn-watch-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 43.36px;
  margin-left: -1083.5px;
  margin-top: 49px;
  min-width: 155.5px;
  transition: all 0.2s ease;
}

.btn-watch-2:hover {
  transform: scale(1.1);
}

.watch-container-1 {
  align-items: flex-start;
  background-color: var(--color-background-bold);
  border: 0.95px solid;
  border-color: var(--color-primary);
  border-radius: 40.07px;
  display: flex;
  gap: 6px;
  height: 44px;
  justify-content: flex-end;
  margin-top: -0.35px;
  min-width: 151px;
  padding: 8.2px 19.5px;
}

.btn-watch-3 {
  align-self: center;
  height: 12px;
  margin-bottom: 1.31px;
  width: 12px;
}

.watch-now-1 {
  color: var(--color-primary);
  font-family: var(--font-text);
  font-size: var(--font-size-xl2);
  font-weight: 300;
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.container-films-1-2 {
  margin-left: 48px;
  margin-right: 51px;
}

.indi-desktop-1440 .container-films-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 715px;
  min-height: 715px;
  padding: 0.5px 0;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 575px;
  min-width: 1231px;
}

.indi-desktop-1440 .film-thumb-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 575px;
  width: 190px;
}

.film-thumb-container-2 {
  margin-left: 18px;
}

.film-thumb-3:hover {
  transform: scale(1.04);
}

.film-thumb-3 {
  cursor: pointer;
  height: 280px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 190px;
}

.film-thumb-container-3 {
  margin-left: 19px;
}

.section-title {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 80px;
  min-height: 58px;
  width: 1232px;
}

.container-films-1-1 {
  margin-left: 49px;
  margin-right: 50px;
}
